.cryptoOverviewDetailLayout {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
}

.priceOverview {
    color: white;
}

.headerRow {
    color: #c3c5cb;
    font-size: 16px;
}

.card {
    height: 450px;
    padding: 16px;
    border-radius: 16px;
    border-width: 0px;
    background-color: rgb(45, 39, 85);
}

.cryptoInformation{
    color: #c3c5cb;
    font-size: 16px;
}

.cryptoDetails{
    color:white;
    font-size: 24px;
}

